body {
    background: #949BA0 ;
    font-family: "Roboto", sans-serif;
}

h2 {
    color: #000100;
    font-weight: 700;
    font-size: 2.5rem;
}

p {
    color: #FFFFFF;
    font-size: 1.125rem;
}

.content {
    margin-top: 100px;
}

#mainNavbar {
    font-size: 1.5rem;
    font-weight: 200;
}

#mainNavbar .nav-link {
    color: white;
}

#mainNavbar .nav-link:hover {
    color: #000100;
}

#mainNavbar .navbar-brand {
    color: #000100;
    font-size: 1.5rem;
    font-weight: 300;
}

.navbar.scrolled {
    background: #564E58;
    transition: background 300ms;
}
