body {
    background: #949BA0 ;
    font-family: "Roboto", sans-serif;
}

h2 {
    color: #000100;
    font-weight: 700;
    font-size: 2.5rem;
}

p {
    color: #FFFFFF;
    font-size: 1.125rem;
}

input {
    display: none;
}

.Contact h2 {
    margin-bottom: 2rem;
}

.content {
    margin-top: 100px;
}

.button {
    border: none;
    background-color: transparent;
}

#mainNavbar {
    font-size: 1.5rem;
    font-weight: 200;
}

#mainNavbar .nav-link {
    color: white;
}

#mainNavbar .nav-link:hover {
    color: #000100;
}

#mainNavbar .navbar-brand {
    color: #000100;
    font-size: 1.5rem;
    font-weight: 300;
}

.navbar.scrolled {
    background: #564E58;
    transition: background 300ms;
}

.img-container {
    text-align: center;
}

.NEAT-Python {
    background-color: #AFCBFF;
}

.Contact {
    background-color: #D7F9FF;
    padding-bottom: 100px;
}

/* Contact.html */
.contact-body {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #D7F9FF;
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}

.contact-title {
    margin-top: 100px;
    color: #000000;
    text-transform: uppercase;
    transition: all 2s ease-in-out;
}

.contact-title h1{
    line-height: 10px;
}

.contact-title h2{
    font-size: 2.5rem
}

form {
    margin-top: 50px;
    transition: all 2s ease-in-out;
}

.form-control {
    width: 600px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid gray;
    margin-bottom: 16px;
}

input {
    height: 45px;
}

form .submit {
    background: #000000;
    border-color: transparent;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    height: 50px;
    margin-top: 20px;
}